{
  "extends": "stylelint-config-standard",
  "rules": {
    "at-rule-no-unknown": null,
    "indentation": "tab",
    "max-empty-lines": 4,
    "function-url-quotes": "always",
    "color-hex-length": "long",
    "declaration-colon-newline-after": null,
    "font-family-name-quotes": null,
    "number-leading-zero": "always",
    "length-zero-no-unit": true,
    "value-list-comma-newline-after": null
  }
}