<div class="modal-overlay" id="modal">
    <div class="modal-body">
        <div class="modal-close-btn">
            <img src="./assets/close.svg" alt="">
        </div>

        <div class="modal-content">
            <div class="modal-img">
                <img class="main-img" src="./assets/images/placeholder.gif" alt="">
            </div>
            <div class="modal-text">
                <h3>Dog's name</h3>
                <p>Lorem ipsum dog description</p>
            </div>
        </div>

    </div>
</div>
