<div id="gallery-comp" class="grid">
    <div class="item">
        <img class="gallery-image" src="./assets/images/1.jpeg" alt="dog-name" />
    </div>

    <div class="item"><img class="gallery-image" src="./assets/images/2.jpeg" alt="dog-name" /></div>
    <div class="item"><img class="gallery-image" src="./assets/images/3.jpeg" alt="dog-name" /></div>
    <div class="item"><img class="gallery-image" src="./assets/images/4.jpeg" alt="dog-name" /></div>
    <div class="item"><img class="gallery-image" src="./assets/images/5.jpeg" alt="dog-name" /></div>
    <div class="item"><img class="gallery-image" src="./assets/images/6.jpeg" alt="dog-name" /></div>
    <div class="item"><img class="gallery-image" src="./assets/images/7.jpeg" alt="dog-name" /></div>
    <div class="item"><img class="gallery-image" src="./assets/images/8.jpeg" alt="dog-name" /></div>
    <div class="item"><img class="gallery-image" src="./assets/images/9.jpeg" alt="dog-name" /></div>
    <div class="item"><img class="gallery-image" src="./assets/images/10.jpeg" alt="dog-name" /></div>
    <div class="item"><img class="gallery-image" src="./assets/images/11.jpeg" alt="dog-name" /></div>
    <div class="item"><img class="gallery-image" src="./assets/images/12.jpeg" alt="dog-name" /></div>
    <div class="item"><img class="gallery-image" src="./assets/images/13.jpeg" alt="dog-name" /></div>
    <div class="item"><img class="gallery-image" src="./assets/images/14.jpeg" alt="dog-name" /></div>
    <div class="item"><img class="gallery-image" src="./assets/images/15.jpeg" alt="dog-name" /></div>
</div>