@import "../../core/styles/mixins/responsive";

#gallery {
	display: grid;
	grid-gap: 10px;
	grid-template-columns: repeat(4, minmax(100px, 1fr));
	grid-auto-rows: 5px;
	width: 100%;
	max-width: 1360px;
	margin: 0 auto;

	@include responsive('medium') {
		grid-template-columns: repeat(3, minmax(100px, 1fr));
	}

	@include responsive('small') {
		grid-template-columns: repeat(2, minmax(100px, 1fr));
	}

	.item {
		background-size: cover;
		object-fit: cover;
		grid-row-end: span 17;
		cursor: pointer;

		&.loaded {
			transform: translateY(200px);
			animation: moveUpFade 0.65s ease forwards;
		}
	}

	img {
		width: 100%;
		opacity: 0;
	}
}
