@import "../../../node_modules/sass-rem";
@import "../../core/styles/mixins/responsive";

html,
body {
	margin: 0;
	font-size: 16px;
	width: 100%;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	background-color: #f6f6f6;

	* {
		box-sizing: border-box;

		&::before,
		&::after {
			box-sizing: border-box;
		}
	}

	a {
		text-decoration: none;
	}

	ul {
		list-style: none;
		padding: 0;
		margin: 0;

		li {
			display: inline-block;
		}
	}

	p {
		margin: 0;
	}

	.content-wrapper {
		filter: blur(0);
		transition: all 0.2s ease-in-out;

		@include responsive('large') {
			filter: none;
			transition: none;
		}
	}

	&.modal-open {
		overflow: hidden;
		position: relative;

		.content-wrapper {
			filter: blur(1px);

			@include responsive('small') {
				filter: none;
			}
		}
	}


	main {
		padding: rem(10px);
	}
}

@import "animations/_all";
@import '../../components/Header/header';
@import '../../components/Footer/footer';
